---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #155799;
  background-image: linear-gradient(135deg, #155799, #41a7f6);
  padding: 2rem 0;
}
.propic {
  border-radius: 500px;
  border: solid 10px white;
  background: white;
}
a {
  text-decoration: none !important;
  transition: all 0.2s ease-in-out !important;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-weight: bold;
  color: #155799;
}

.sub-header {
  background: #f4f5f6;
  padding: 15px;
  color: #313438;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-bottom: 1px solid #d8d8da;
}
.sub-header ul {
  list-style-type: none;
  padding: 0;
}
.sub-header ul li {
  display: inline-block;
  margin: 15px 5px;
}
.sub-header ul li a {
  background: #313438;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
}
.sub-header ul li a:hover {
  background: black;
}

.post img {
  border-radius: 4px;
}

.posts {
  text-decoration: none;
  width: 100%;
  background: #f4f5f6;
  padding: 20px;
  border: 1px solid #d8d8da;
  border-radius: 4px;
  margin: 20px 0;
  transition: all 0.2s ease-in-out;
}
.posts:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
.posts h2 {
  margin-bottom: 0;
}
.posts > p {
  color: grey;
  margin-top: 0;
}
.button {
  background: #f4f5f6;
  padding: 10px 15px;
  border-radius: 4px;
}
.button:hover {
  background: #d8d8da;;
}
.disabled {
  cursor: not-allowed;
}

footer {
  text-align: center;
}

@media screen and (max-width: 42em) {
  .bio {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 64em) and (min-width: 42em) {
  .bio {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 64em) {
  .bio {
    max-width: 64rem;
    padding: 0 6rem;
    margin: 0 auto;
  }
}

.site-footer {
  padding: 2rem 1rem;
  margin-top: 0;
  background: #313438;
}
.site-footer-credits {
  color: #f9f9f9;
}

.tags {
  border: solid 1px #d8d8da;
  border-radius: 4px;
  padding: 5px 15px;
  margin-left: 15px
}
