---
layout: default
title: Thanks for subscribing!
image: /assets/img/nyc.jpg
---

<div class="px-6 pb-10 md:px-10">
  <a href="/" class="no-underline text-gray-600 hover:text-gray-700 leading-tight">
    <h2 class="font-serif font-black text-4xl md:text-5xl inline">Latest Posts</h2>
  </a>
  <span class="font-serif font-black text-4xl md:text-5xl inline text-gray-600 leading-tight">/</span>
  <div class="font-serif font-black text-xl md:text-5xl inline-block md:inline text-gray-600 leading-tight">
    {% for tag in site.tags %}
      <a href="/tags/{{ tag[0] }}" class="no-underline text-gray-600 hover:text-gray-700">{{ tag[0] }}</a>{% if forloop.last == false %},{% endif %}
    {% endfor %}
  </div>
</div>

<div class="px-6 pb-10 md:px-10 text-center">

  <div class="p-6"><img src="/assets/img/icon-check.svg" class="w-48 mx-auto" alt="Success!"></div>
  <h3 class="font-sans font-bold text-xl mb-4 text-gray-900">Thanks for subscribing!</h3>
  <p class="font-sans text-gray-600 mb-10">Please check your email and follow the confirmation link if you have not already done so.</p>

</div>
