<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="Matt Gagliano is a tech enthusiast and product manager from the New York City area, writing about tech, design, and lifestyle news and topics."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <a href="/" style="color: white;"><h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1></a>
      <h2 class="project-tagline">📍<span>CT/NY</span> 🏢 <span>Product @ <a href="https://www.veritonic.com" target="_blank">Veritonic</a></span> 🎨 <span>UI/UX Design</span></h2>
      <a href="https://www.facebook.com/matttgagliano" target="_blank"><img src="/assets/img/facebook.svg" width="60"></a>
      <a href="https://www.linkedin.com/in/matttgagliano/" target="_blank"><img src="/assets/img/linkedin.svg" width="60"></a>
      <a href="https://twitter.com/matttgagliano" target="_blank"><img src="/assets/img/twitter.svg" width="60"></a>
      <a href="https://www.instagram.com/matttgagliano/" target="_blank"><img src="/assets/img/instagram.svg" width="60"></a>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">&copy;2017 Matt Gagliano</span>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
