<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    {% seo %}
    <meta name="theme-color" content="#3490DC">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.min.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </head>
  <body>

    <div class="w-full h-2 bg-topbar-gradient"></div>

    <div class="container mx-auto">

      <div class="px-6 py-6 md:py-10 block md:flex md:justify-between md:items-center font-sans">
        <div class="flex items-center">
          <img src="/assets/img/newpropic2019.jpg" alt="Matt Gagliano" title="Matt Gagliano" class="w-16 h-16 rounded-full mr-4 shadow-inner">
          <div class="text-lg">
            <a href="/" class="text-xl	text-black leading-normal font-black no-underline">{{ site.title | default: site.github.repository_name }}</a>
            <p class="text-grey-dark">Designer and builder of digital things.</p>
          </div>
        </div>
        <div class="flex items-center justify-between text-xl ml-auto mr-5">
          <a href="https://twitter.com/matttgagliano" class="p-5 text-grey-dark hover:text-grey-darker" target="_blank" title="Follow me on Twitter."><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/matttgagliano/" class="p-5 text-grey-dark hover:text-grey-darker" target="_blank" title="Connect with me on LinkedIn."><i class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com/matttgagliano" class="p-5 text-grey-dark hover:text-grey-darker" target="_blank" title="Code with me on Github."><i class="fab fa-github"></i></a>
        </div>
        <div class="flex items-center">
          <!-- Begin Mailchimp Signup Form -->
          <div id="mc_embed_signup" class="flex-grow">
            <form action="https://mattgagliano.us20.list-manage.com/subscribe/post?u=5f0c995d8307ad24d953c548b&amp;id=a4963dfe93" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="flex items-center">
                <div class="mc-field-group flex-grow">
                  <input type="email" value="" name="EMAIL" class="required email bg-grey-lighter p-5 rounded-l w-full" placeholder="you@example.com" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_5f0c995d8307ad24d953c548b_a4963dfe93" tabindex="-1" value="">
                </div>
                <div class="clear flex-no-grow">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button p-5 bg-grey-light hover:bg-grey text-grey-darkest cursor-pointer font-bold rounded-r btn-transition">
                </div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>

      {{ content }}

    </div>

    <div class="w-full flex bg-cover bg-no-repeat about-background">
      <div class="container mx-auto px-6 py-24">
        <h1 class="text-blue-lightest font-serif font-black text-4xl md:text-5xl mb-10">About Me</h1>
        <p class="max-w-sm text-blue-lighter leading-normal text-xl font-sans mb-4">Designing and building digital things is my passion. I enjoy working with diverse teams to create cool products, services, and experiences through new perspectives.</p>
        <p class="max-w-sm text-blue-lighter leading-normal text-xl font-sans">I'm currently working on product at <a href="https://www.veritonic.com" target="_blank" class="text-blue-light hover:text-blue no-underline">Veritonic</a>, along with a few side-projects in design, web, and crypto. I occasionally blog about these here.</p>
      </div>
    </div>

    <div class="w-full footer-background">
      <div class="container mx-auto p-6 flex flex-col-reverse md:flex-row md:justify-between md:items-center">
        <div class="flex-col text-blue-lighter text-base justify-center md:justify-start font-sans">
          <a href="mailto:mgagliano@pm.me" class="text-blue-lighter no-underline hover:text-white">Contact&nbsp;Me</a>
          <div class="mt-2">&copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> Matt&nbsp;Gagliano</div>
        </div>
        <div class="flex items-center justify-between text-xl md:ml-auto md:mr-5">
          <a href="https://twitter.com/matttgagliano" class="p-5 text-blue-lighter hover:text-white" target="_blank" title="Follow me on Twitter."><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/matttgagliano/" class="p-5 text-blue-lighter hover:text-white" target="_blank" title="Connect with me on LinkedIn."><i class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com/matttgagliano" class="p-5 text-blue-lighter hover:text-white" target="_blank" title="Code with me on Github."><i class="fab fa-github"></i></a>
        </div>
        <div class="flex items-center">
          <!-- Begin Mailchimp Signup Form -->
          <div id="mc_embed_signup" class="flex-grow">
            <form action="https://mattgagliano.us20.list-manage.com/subscribe/post?u=5f0c995d8307ad24d953c548b&amp;id=a4963dfe93" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="flex items-center">
                <div class="mc-field-group flex-grow">
                  <input type="email" value="" name="EMAIL" class="required email bg-blue-lightest p-5 rounded-l w-full" placeholder="you@example.com" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_5f0c995d8307ad24d953c548b_a4963dfe93" tabindex="-1" value="">
                </div>
                <div class="clear flex-no-grow">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button p-5 bg-blue-lighter hover:bg-blue-light text-blue-darkest cursor-pointer font-bold rounded-r btn-transition">
                </div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>

  </body>
</html>
