<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    {% seo %}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.min.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="/assets/css/syntax.css" rel="stylesheet" >
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </head>
  <body>

    <div class="w-full h-2 bg-topbar-gradient"></div>

    <div class="container mx-auto">
      <div class="px-6 py-6 md:py-10 md:px-10 block md:flex md:justify-between md:items-center font-sans">
        <div class="flex items-center">
          <div class="profile-size relative flex justify-center items-center mr-4">
            <img class="absolute rounded-full" src='/assets/img/mattgagliano.png' alt="Matt Gagliano" title="Matt Gagliano" />
            <div class="shadow-inner absolute inset-0 rounded-full"></div>
          </div>
          <div class="text-lg">
            <a href="/" class="text-xl text-gray-900 leading-normal font-black no-underline">{{ site.title | default: site.github.repository_name }}</a>
            <p class="text-gray-600 leading-tight">Designer and builder of digital things.</p>
          </div>
        </div>
        <div class="flex items-center justify-between text-xl md:ml-auto md:mr-5">
          <a href="https://twitter.com/matttgagliano" class="p-5 text-gray-600 hover:text-gray-700" target="_blank" title="Follow Matt on Twitter."><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/matttgagliano/" class="p-5 text-gray-600 hover:text-gray-700" target="_blank" title="Connect with Matt on LinkedIn."><i class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com/matttgagliano" class="p-5 text-gray-600 hover:text-gray-700" target="_blank" title="Code with Matt on GitHub."><i class="fab fa-github"></i></a>
        </div>
        <div class="flex items-center">
          <!-- Begin Mailchimp Signup Form -->
          <div id="mc_embed_signup" class="flex-grow">
            <form action="https://mattgagliano.us20.list-manage.com/subscribe/post?u=5f0c995d8307ad24d953c548b&amp;id=a4963dfe93" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="flex items-center">
                <div class="mc-field-group flex-grow">
                  <input type="email" value="" name="EMAIL" class="required email bg-gray-200 p-5 rounded-l rounded-r-none border-none text-sm md:text-base leading-none w-full h-12 focus:outline-none subscribe-input" placeholder="Get new posts via email." id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_5f0c995d8307ad24d953c548b_a4963dfe93" tabindex="-1" value="">
                </div>
                <div class="clear flex-no-grow">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button px-5 bg-gray-400 hover:bg-gray-500 text-gray-800 cursor-pointer font-bold rounded-r rounded-l-none border-none btn-transition text-sm md:text-base leading-none h-12">
                </div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>

    <div class="max-w-3xl mx-auto">

      <div class="px-6 pb-4">
        <a href="/" class="font-serif font-black text-4xl md:text-5xl inline text-gray-600 hover:text-gray-700 no-underline leading-tight">Latest Posts</a>
        <span class="font-serif font-black text-4xl md:text-5xl inline text-gray-600 leading-tight">/</span>
        <h1 class="font-serif font-black text-4xl md:text-5xl text-gray-900 inline leading-tight">{{ page.title }}</h1>
      </div>

      <div class="px-6 pb-6">
        {% for tag in page.tags %}
          <a href="/tags/{{ tag }}/" class="inline-block bg-gray-400 hover:bg-gray-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-800 mr-2 no-underline">{{ tag }}</a>
        {% endfor %}
        <span class="inline-block pt-4 md:px-3 md:py-1 text-sm font-semibold text-gray-600 uppercase">{{ page.date | date_to_long_string }}</span>
      </div>

      <div class="px-6 pb-10 post-content font-sans text-xl text-gray-700 leading-normal">{{ content }}</div>

    </div>

    <div class="w-full flex bg-cover bg-no-repeat about-background" id="about">
      <div class="container mx-auto px-6 md:px-10 py-24">
        <h2 class="text-blue-100 font-serif font-black text-4xl md:text-5xl mb-10">About Matt</h2>
        <p class="max-w-xl text-blue-200 leading-normal text-xl font-sans mb-4">Designing and building digital things is Matt's passion. He enjoys collaborating with diverse teams to make cool products, services, and experiences through new perspectives.</p>
        <p class="max-w-xl text-blue-200 leading-normal text-xl font-sans mb-4">Matt is currently working on product at <a href="https://www.veritonic.com" target="_blank" class="text-blue-400 hover:text-blue-500 no-underline">Veritonic</a>, an audio intelligence company and the first analytics platform built to quantify the value of sound.</p>
        <p class="max-w-xl text-blue-200 leading-normal text-xl font-sans mb-4">A life-long learner and technologist, Matt draws from his experience creating cross-platform applications &mdash; from rapid prototyping and user experience testing to crafting design systems and maintaining production roadmaps &mdash; to lead small development teams in solving complex problems with big impact.</p>
        <p class="max-w-xl text-blue-200 leading-normal text-xl font-sans">Follow Matt on <a href="https://twitter.com/matttgagliano" class="text-blue-400 hover:text-blue-500 no-underline" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/in/matttgagliano/" class="text-blue-400 hover:text-blue-500 no-underline" target="_blank">LinkedIn</a>, and <a href="https://github.com/matttgagliano" class="text-blue-400 hover:text-blue-500 no-underline" target="_blank">GitHub</a>, or reach out directly via <a href="mailto:hello@mattgagliano.com" class="text-blue-400 hover:text-blue-500 no-underline">email</a>! 📈</p>
      </div>
    </div>

    <div class="w-full footer-background font-sans">
      <div class="container mx-auto p-6 md:px-10 flex flex-col-reverse md:flex-row md:justify-between md:items-center">
        <div class="flex flex-row md:flex-col-reverse text-blue-200 text-base justify-between md:justify-start font-sans">
          <div class="md:mt-1">&copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> Matt&nbsp;Gagliano</div>
          <a href="mailto:info@mattgagliano.com" class="text-blue-200 no-underline hover:text-white">Contact</a>
        </div>
        <div class="flex items-center justify-between text-xl md:ml-auto md:mr-5">
          <a href="https://twitter.com/matttgagliano" class="p-5 text-blue-200 hover:text-white" target="_blank" title="Follow Matt on Twitter."><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/matttgagliano/" class="p-5 text-blue-200 hover:text-white" target="_blank" title="Connect with Matt on LinkedIn."><i class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com/matttgagliano" class="p-5 text-blue-200 hover:text-white" target="_blank" title="Code with Matt on GitHub."><i class="fab fa-github"></i></a>
        </div>
        <div class="flex items-center">
          <!-- Begin Mailchimp Signup Form -->
          <div id="mc_embed_signup" class="flex-grow">
            <form action="https://mattgagliano.us20.list-manage.com/subscribe/post?u=5f0c995d8307ad24d953c548b&amp;id=a4963dfe93" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="flex items-center">
                <div class="mc-field-group flex-grow">
                  <input type="email" value="" name="EMAIL" class="required email bg-blue-100 p-5 rounded-l rounded-r-none border-none text-sm md:text-base leading-none w-full h-12 focus:outline-none subscribe-input" placeholder="Get new posts via email." id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_5f0c995d8307ad24d953c548b_a4963dfe93" tabindex="-1" value="">
                </div>
                <div class="clear flex-no-grow">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button px-5 bg-blue-600 hover:bg-blue-700 text-blue-200 hover:text-blue-100 cursor-pointer font-bold rounded-r rounded-l-none border-none btn-transition text-sm md:text-base leading-none h-12">
                </div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>

  </body>
</html>
